body {
  background-color: #e8e9f3;
}

h1 {
  font-family: "Rock Salt", cursive;
  font-size: 60px;
  color: #9067c6;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 50px;
  font-family: helvetica, arial, sans-serif;
  font-size: 26px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.list-container-header {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  background: linear-gradient(
      147deg,
      rgba(204, 112, 255, 0.7954220314735336) 5%,
      rgba(255, 0, 129, 0.5026737967914439) 50%
    ),
    url("./assets/img/free-pink-abstract-vector-banners-01.png");
  background-size: cover;
  height: 130px;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
}

.list-container {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-top: -20px;
  background-color: #fff;
  margin: 0px auto 60px auto;
  height: auto;
  width: 60vw;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

ul {
  padding: 0px;
}

.list-item {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  font-family: helvetica, arial, sans-serif;
  list-style: none;
  border-bottom: 2px solid #e7e7e7;
}

.strikethrough {
  text-decoration: line-through;
}

.input-box {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  text-align: left;
  width: 85%;
  height: 30px;
}

input[type="checkbox"] {
  margin-left: 10px;
}
